@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Azure Arc !</h1><br />
    <h3>Any datacenter, any cloud</h3>    
</div>
